
<!DOCTYPE html>
<html>
<%= @user.name %>, <%= @user.email %> 
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Your Income Expert</title>
    <link type="text/css" rel="stylesheet/less" href="less/style.less">
    <link type="text/css" rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <script type="text/javascript" src="js/less.js"></script>
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.7.1.js'></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
</head>
<style type="text/css">
#div1 {background-color: #87ceeb;padding:40px;width:200px;}
#div2{background-color: #f5f5f5;
    padding:40px;
    width:600px;   
margin-left: 50px;}

</style>
<body>
<ul class='nav nav-tabs' id='tab'>
  <li class="active"><a href="#Feed" data-toggle="tab">Feed</a></li>
  <li><a href="#Workouts" data-toggle="tab">Workouts</a></li>
  <li><a href="#Diets" data-toggle="tab">Diets</a></li>
  <li><a href="#Media" data-toggle="tab">Media</a></li>
</ul>
 <div class="tab-content">
    <div class='tab-pane active' id='Feed'>
  

    <div class="container-fluid">
        <div class="row-fluid">
            
            <div class="span2" id="div1">
                
               
            <p></p>
                <p></p>
                <p></p>
                <font>Name:</font> <%= @user.name %>
                <p></p>
                <font>Age:</font> 20 <!-- Add user.age -->
                
        </div>
        
        
         <div class="span6" id="div2">
                 <%= render 'shared/post_form' %>
             <p></p>
                    I worked out at ______ with workout
                 <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Select a workout
                    <span class="caret"></span>
                </a>
            <ul class="dropdown-menu">
            </ul>
            <button type="submit" class="btn btn-success">Submit</button>


            <table class="table table-bordered">
            <hr>
                    <% if @user.posts.any? %>
                        <ol class="microposts">
                            <%= render @posts %>
                        </ol>
                    <% end %>
            <!--
            <p></p>
                 <FONT>Johnny went to workout at CU Rec</FONT>
            <p></p>
                <FONT class="text-success">View his workout</FONT>
                <FONT color="black"> | </FONT>
                <FONT class="text-warning">Comment</FONT>
            <p></p>
            </hr>
            <hr>
                <FONT>Lauren went to workout at Bear Creek Rec</FONT>
            <p></p>
                <FONT class="text-success">View his workout</FONT>
                <FONT color="black"> | </FONT>
                <FONT class="text-warning">Comment</FONT>
            <p></p>
            </hr>
            <hr>
                <FONT>Elizabeth added a new photo</FONT>
            <p></p>  
            <img src="http://www.colorado.edu/recreation/images/main1.jpg",width="200" , height="200"></img> 
             </hr>
             <hr>
             <p></p>
                <FONT>Long added a new photo</FONT>
            <p></p>  
            <img src="https://twimg0-a.akamaihd.net/profile_images/1127843736/University-of-Colorado-Boulder-sports-logo.png",width="200" , height="200"></img> 
        -->
            </hr>
         </table>
         </div>

    </div>
    </div>
  </div>

  <div class='tab-pane' id='Workouts'>
    <div class="container-fluid">
        <div class="row-fluid">
            
            <div class="span2" id="div1">
                
                <img src="http://designlap.com/wp-content/gallery/arnold/arnold.jpg",width="200" , height="200"></img>
            <p></p>
                <p></p>
                <p></p>
                <font>Name:</font> <%= @user.name %>
                <p></p>
                <font>Age:</font> 20 <!-- Add user.age -->
                
        </div>
        
        
         <div class="span6" id="div2">
                 <legend>Workouts</legend>
         </div>

    </div>
    </div>
  
  </div>

  <div class='tab-pane' id='Diets'>
  <div class="container-fluid">
        <div class="row-fluid">
            
            <div class="span2" id="div1">
               
                <img src="http://designlap.com/wp-content/gallery/arnold/arnold.jpg",width="200" , height="200"></img>
            <p></p>
                <p></p>
                <p></p>
                <font>Name:</font> <%= @user.name %>
                <p></p>
                <font>Age:</font> 20 <!-- Add user.age -->
                
        </div>
        
        
         <div class="span6" id="div2">
                 <legend>Diets</legend>
                    <% if @user.diets.any? %>
                    <ol class="dietList">
                      <%= render @diet %>
                    </ol>
                    <% end %>
                    <%= link_to 'New Diet', new_diet_path, class: "btn btn-info" %>
         </div>
    </div>
    </div>
  
  </div>

  <div class='tab-pane' id='Media'>
  <div class="container-fluid">
        <div class="row-fluid">
           <%= render @photos %> 
            <div class="span2" id="div1">
                
                <img src="http://designlap.com/wp-content/gallery/arnold/arnold.jpg",width="200" , height="200"></img>
            <p></p>
                <p></p>
                <p></p>
                <font>Name:</font> <%= @user.name %>
                <p></p>
                <font>Age:</font> 20 <!-- Add user.age -->
                <%= link_to 'Images',new_photo_path, class: "btn btn-info" %>  
        </div>
        
        
         <div class="span6" id="div2">
                 <legend>Media</legend>
         </div>

    </div>
    </div>
  
  </div>
</div>
</body>
</html>
