<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @diet.name %>
</p>
<p>
  <b>Time:</b>
  <%= @diet.time %>
</p>
<p>
  <b>Name:</b>
  <%= @diet.info %>
</p>

<%= link_to 'Edit', edit_diet_path(@diet) %> |
<%= link_to 'Back', current_user %>
