<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "FitApp", '/', class: "brand" %>
      <nav>
        <ul class="nav pull-right">
         <!-- <li><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Help",    '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>-->
        </ul>
        <div class="nav pull-right">
          
        
        <% if signed_in? %>
        <%= link_to "Sign out", signout_path, method: "delete", class: "btn btn-primary" %>
        <%else %>
        <a href="/signup" class="btn btn-primary">Sign up</a>
        <%end %>
      
    </div>
      </nav>
    </div>
  </div>
</header>
